@using YouTubeMusicStreamer.Components.Pages.Home.Components
<PageHeader Title="Connections" SubTitle="Here is a overview and status of your connections"></PageHeader>

<div class="columns is-gap-1">
    <div class="column">
        <div class="card h-100">
            <div class="card-content">
                <div class="content">
                    <TwitchConnection/>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card h-100">
            <div class="card-content">
                <div class="content">
                    <YouTubeConnection/>
                </div>
            </div>
        </div>
    </div>
</div>