.has-background-twitch {
  background-color: #a970ff !important;
}

.has-background-youtube {
  background-color: #ff186e !important;
}

.has-background-body {
  background-color: var(--bulma-body-background-color) !important;
}