.collapsible:not(.icon) {
  transition: all 0.3s ease;
  user-select: none;

  &.closed {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.collapsible.icon {
  user-select: none;
  transition: all 0.3s ease;
  transform: rotate(0deg);

  &.closed {
    transform: rotate(-180deg);
  }
}