.log-date {
  color: #c25;
}

.log-time-extra {
  color: gray;
}

.log-level-inf {
  color: #b5c078;
}

.log-level-err {
  color: #d9534f;
}

.log-level-ftl {
  color: #9f3f3c;
}

.log-level-wrn {
  color: #f0ad4e;
}

.log-scope {
  color: #0bb;
}

.log-text {
  color: white;
}

.log-quote {
  color: #cc834b;
}

.log-true {
  color: #5bc0de;
}

.log-false {
  color: #d9534f;
}

.log-number {
  color: #3079d4;
}